* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: white;

}

#topbar {
    height: 90px;
    background-color: black;
    text-align: right;
    text-decoration: none;
}

#topbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topbar li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding-top: 30px;
    ;
    margin-left: 40px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 17px;
    text-decoration: none;
    color: #360202;

}

#logo {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    text-align: left;
    float: left;
    margin-top: 20px;
    ;
    margin-left: 5px;
    ;
}

#image {
    display: inline-block;
}

#img1 {
    position: absolute;
    left: 100px;
    top: 250px;
    ;

}

#img1 #case1 {
    position: relative;
    top: 80px;
    left: 40px;
}

#img1 #case2 {
    position: relative;
    top: 120px;
    right: 20px;


}

#img2 {
    position: absolute;
    left: 510px;
    top: 250px;
}

#img2 #case3 {
    position: relative;
    top: 80px;
    left: 0px;
}

#img2 #case4 {
    position: relative;
    top: 120px;
    right: 20px;


}

#img3 {
    position: absolute;
    right: 10px;
    top: 270px;
}

#img3 #case5 {
    position: relative;
    top: 60px;
    left: 0px;
}

#img3 #case6 {
    position: relative;
    top: 100px;
    right: 20px;
}

#contact {
    margin-top: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}

#contact h1 {
    margin-left: 30px;
    font-size: 45px;

}

#contact p {
    margin-left: 30px;
    margin-top: 30px;
}

#contact #git {
    position: relative;
    bottom: -65px;
    left: 200px;
    text-decoration: none;
}

#contact .buton {
    height: 55px;
    position: absolute;
    right: 70px;


}

#blk {
    height: 70px;
    color: rgb(209, 198, 198);
    background-color: black;
    text-align: center;
}

#blk p {
    position: relative;
    top: 25px;
}