* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: white;

}

#topbar {
    height: 90px;
    background-color: black;
    text-align: right;
    text-decoration: none;
}

#topbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topbar li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding-top: 30px;
    ;
    margin-left: 40px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 17px;
    text-decoration: none;
    color: #393b3b;

}

#logo {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    text-align: left;
    float: left;
    margin-top: 20px;
    ;
    margin-left: 5px;
    ;
}

#web {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 150px;
    margin-left: 50px;
    ;
    font-size: 25px;
}

#img {

    border-radius: 360px;
    border-color: rgb(0, 136, 255);
    position: absolute;
    right: 60px;
    top: 350px;
    height: 500px;
    z-index: 2;

}

#box2 {
    display: block;
    background-color: rgb(248, 238, 238);
    height: 600px;
    width: 600px;
    border-radius: 360px;
    position: absolute;
    right: 16px;
    top: 300px;
    z-index: 1;
}

#box {
    display: block;
    background-color: rgb(0, 136, 255);
    height: 700px;
    width: 700px;
    border-radius: 360px;
    position: absolute;
    right: -30px;
    top: 250px;
}

#about {
    margin-top: 700px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#skill {
    font-size: 25px;
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;

}

#skill p {
    color: #03254c;
    display: inline-block;
    font-size: large;
}

#skill h1 {
    color: #03254c;
    margin-left: 50px;
}

#contact {
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
}

#contact h1 {
    margin-left: 30px;
    font-size: 45px;

}

#contact p {
    margin-left: 30px;
    margin-top: 30px;
}

#contact #git {
    position: relative;
    bottom: -65px;
    left: 200px;
    text-decoration: none;
}

#contact .buton {
    height: 55px;
    position: absolute;
    right: 70px;


}

#blk {
    height: 70px;
    color: rgb(209, 198, 198);
    background-color: rgb(31, 28, 28);
    text-align: center;
}

#blk p {
    position: relative;
    top: 25px;
}
